.icn-primary{
    fill:none;stroke:#555;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.9px;
}
.icn-primary-lg{
    fill:none;stroke:#555;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.3px;
}